*{
    margin: 0;
}

section main p {
    margin-left: 50px;
    margin-right: -273px;
}
.about img {
    position: absolute;
    right: -656px;
    top: 600px;
    box-shadow: 0 0 3px rgba(0,0,0.5);
}
.product {
    margin-top: 350px;
    margin-left: 146px;
    margin-right: -632px;
}